## List exercises

In [2]:
list1 = [100, 200, 300, 400, 500]
list1.reverse()
list1

[500, 400, 300, 200, 100]

In [4]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
list3 = [i + j for i, j in zip(list1, list2)]
list3

['My', 'name', 'is', 'Kelly']

In [6]:
numbers = [1, 2, 3, 4, 5, 6, 7]
numbers = [number * number for number in numbers]
numbers

[1, 4, 9, 16, 25, 36, 49]

In [7]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
list3 = [x + y for x in list1 for y in list2]
list3

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [9]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for x, y in zip(list1, list2[::-1]):
    print(x, y)

10 400
20 300
30 200
40 100

In [14]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
list1 = list(filter(None, list1))
list1

['Mike', 'Emma', 'Kelly', 'Brad']

In [15]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [20]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]
list1[2][1][2].extend(sub_list)
list1

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [22]:
list1 = [5, 10, 15, 20, 25, 50, 20]
list1[list1.index(20)] = 200
list1

[5, 10, 15, 200, 25, 50, 20]

In [23]:
list1 = [5, 20, 15, 20, 25, 50, 20]
def remove_value(arr, value):
    return [i for i in arr if i != value]

res = remove_value(list1, 20)
res

[5, 15, 25, 50]

## Dictionary

In [24]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
dict(zip(keys, values))

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [28]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict3 = {**dict1, **dict2}
dict3

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [32]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}
sampleDict["class"]["student"]["marks"]["history"]

80

In [33]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}
dict1 = dict.fromkeys(employees, defaults)
dict1

{'Kelly': {'designation': 'Developer', 'salary': 8000},
 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [35]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}
keys = ["name", "salary"]

In [36]:
dict1 = {k : sample_dict[k] for k in keys}
dict1

{'name': 'Kelly', 'salary': 8000}

In [41]:
dict1 = {k : sample_dict[k] for k in sample_dict.keys() if k not in keys}
dict1

{'age': 25, 'city': 'New york'}

In [43]:
sample_dict = {'a': 100, 'b': 200, 'c': 300}
if 200 in sample_dict.values():
    print('200 present in a dict')

200 present in a dict

In [44]:
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
sample_dict['location'] = sample_dict.pop('city')
sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [47]:
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
min(sample_dict)
# min(sample_dict, key=sample_dict.get)

'Math'

In [48]:
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}
sample_dict['emp3']['salary'] = 8500
sample_dict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

## Tuple

In [50]:
tuple1 = (10, 20, 30, 40, 50)
tuple1[::-1]

(50, 40, 30, 20, 10)

In [51]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple1[1][1]

20

In [52]:
tuple1= (50, )
tuple1

(50,)

In [54]:
tuple1 = (10, 20, 30, 40)
a, b, c, d = tuple1
print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [55]:
tuple1 = (11, 22)
tuple2 = (99, 88)
tuple1, tuple2 = tuple2, tuple1
print(tuple2)
print(tuple1)

(11, 22)
(99, 88)

In [56]:
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = tuple1[3:-1]
tuple2

(44, 55)

In [57]:
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0] = 222
tuple1

(11, [222, 33], 44, 55)

In [58]:
tuple1 = (('a', 23), ('b', 37), ('c', 11), ('d',29))
tuple1 = tuple(sorted(list(tuple1), key=lambda x: x[1]))
tuple1

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

In [59]:
tuple1 = (50, 10, 60, 70, 50)
tuple1.count(50)

2

In [60]:
tuple1 = (45, 45, 45, 45)

def check(t):
    return all(i == t[0] for i in t)

check(tuple1)

True

## Lambda

In [61]:
r = lambda a : a + 15
print(r(10))
r = lambda x, y : x * y
print(r(12, 4))

25
48

In [ ]:
def func_compute(n):
    return lambda x : x * n
result = func_compute(2)
result(15)

In [62]:
subject_marks = [('English', 88), ('Science', 90), ('Maths', 97), 
    ('Social sciences', 82)]
print(subject_marks)
subject_marks.sort(key = lambda x: x[1])
subject_marks

[('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

In [63]:
models = [{'make':'Nokia', 'model':216, 'color':'Black'}, 
    {'make':'Mi Max', 'model':'2', 'color':'Gold'}, 
    {'make':'Samsung', 'model': 7, 'color':'Blue'}]
print(models)
sorted_models = sorted(models, key = lambda x: x['color'])
sorted_models

[{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]

[{'make': 'Nokia', 'model': 216, 'color': 'Black'},
 {'make': 'Samsung', 'model': 7, 'color': 'Blue'},
 {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}]

In [64]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums)
even_nums = list(filter(lambda x: x%2 == 0, nums))
print(even_nums)
odd_nums = list(filter(lambda x: x%2 != 0, nums))
print(odd_nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]